<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Odin-Book</title>
  </head>
  <body>

    <%- include("header")%>

      <div class="auth">

        <h1>Create Post</h1>

        <form action="" method="POST" class="auth_form">
          <div>
            <br />
            <textarea name="caption" type="text" required rows="10"></textarea>
          </div>

          <!-- <div>
            <label for="blog"> Blog </label>
            <br />
            <textarea name="blog" required rows="8"></textarea>
          </div> -->

          <button class="auth_btn">Submit</button>
        </form>
      </div>
    
    
  </body>
</html>
