<!DOCTYPE html>
<html>
  <head>
    <title>Odin-Book</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include("header")%>

    <div class="content">
      <% posts.forEach(post => { %> <%- include("post", {post: post}) %> <%
       }) %>
     </div>

  </body>
</html>
